.side-bar {
  width: 20%;
  background-color: #DDFFFF;
  height: 100vh;

  .display-none {
    display: none;
  }

  .env-switch {
    margin-top: 0;
    border-radius: none;
  }

  .side-bar-container {
    width: 80%;
    margin: 0 auto;
    
    .env-buttons {
      margin-top: 80px;
      height: 80;
      max-height: 360px;
    }
  }

  // .create-shortcut {
  //   position: relative;
  //   top: 200px;
  // }
  // .create-group {
  //   position: relative;
  //   top: 200px;
  // }

  .logout {
    position: relative;
    top: 300px;
  }
}