.side-bar {
  width: 20%;
  background-color: #DDFFFF;
  height: 100vh;

  .display-none {
    display: none;
  }

  .env-switch {
    margin-top: 0;
    border-radius: none;
  }

  .sidebar-container {
    width: 80%;
    margin: 0 auto;
    
    .env-buttons {
      z-index: -1;
      margin-top: 80px;
      height: 80;
      max-height: 360px;
      overflow-y: auto;
    }

    .env-buttons::-webkit-scrollbar {
      width: 10px;
      height: 12px;
    }

    .env-buttons::-webkit-scrollbar-thumb {
      background-color: #007bff;
      border-radius: 10px;
      border: 3px solid #DDFFFF;
    }

    .env-buttons::-webkit-scrollbar-track {
      background-color: #DDFFFF;
      border-radius: 10px;
    }

    .logout {
      width: 16%;
      position: absolute;
      top: 700px;
      z-index: 10;
    }
  }

}