.container {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  margin-top: 25px;

  .new-table {
    height: 100px;
    margin-bottom: 30px;
  }

  .keyboard {
    height: 350px;
    margin-bottom: 20px;
    background-color: white;
  }
} 