.container {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: blue;

  .new-table {
    height: 30%;
    background-color: aquamarine;
  }

  .keyboard {
    height: 70%;
    background-color: azure;
  }
} 