.shortcut-modal {
  position: absolute;
  top: 100px;
  left: 400px;
  z-index: 10;

  width: 975px;
  height: 600px;
  box-shadow: 4px 4px 4px 0px lightgray;
  background-color: rgb(194, 227, 255);

}

.group-modal {
  position: absolute;
  top: 100px;
  left: 400px;
  z-index: 10;

  width: 975px;
  height: 500px;
  box-shadow: 4px 4px 4px 0px lightgray;
  background-color: rgb(194, 227, 255);

}