.toggle-button {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  height: 30px;
}

.toggle-button:hover {
  background-color: #0040ff;
}

.clicked {
  background-color: #0040ff;
  box-shadow: 0px 2px 0px 0px rgb(0, 0, 192);
  position: relative;
  top: 3px;
}

.non-clicked {
  background-color: #007bff;
  box-shadow: 0px 5px 0px 0px rgb(0, 0, 192);
}