.side-bar-container {
  width: 80%;
  margin: 0 auto;


  .environment-table-area {
    margin-top: 80px;
    width: 100%;
    height: 575px;

    h3 {
      display: flex;
      justify-content: center;
    }

    .environment-table {
      margin-top: 25px;


      .record {
        height: 40px;
        line-height: 40px;

        .column-1 {
          width: 30%;
          border-right: 1px solid lightgray;
        }
        .column-2 {
          width: 70%;
        }
      }

      .record-title {
        display: flex;
        justify-content: center;
        height: 50px;
        line-height: 50px;
      }
    }

    .create-shortcut {
      margin-top: 50px;
    }
  }
  .logout {
    margin-top: 80px;
  }
}