  .record {
    height: 50px;
    line-height: 50px;

    .column-1 {
      width: 20%;
      border-right: 1px solid lightgray;
    }
    .column-2 {
      width: 20%;
      border-right: 1px solid lightgray;
    }
    .column-3 {
      width: 20%;
      border-right: 1px solid lightgray;
    }
    .column-4 {
      width: 20%;
      border-right: 1px solid lightgray;
    }
    .column-5 {
      width: 20%;
    }
  }